container {
    width: 1200px;
}

.yellow {
    background-color: yellow;
    display: inline-block;
    width: 7.3%;
    height: 50px;
}

.green {
    background-color: green;
    display: inline-block;
    width: 15%;
    height: 50px;
}